.top-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 40px;
  background: #fff;
   box-shadow: 
    0 2px 4px rgba(0, 0, 0, 0.04),
    0 8px 20px rgba(0, 0, 0, 0.08);

  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  height: 95px;
  margin-top: -40px;   /* move upward */
}


.top-center {
  flex: 1;
  max-width: 600px;
  position: relative;
  margin: 0 40px;
}
.top-left {
    height: 10px;
    width: auto;
}
.top-center input {
  width: 100%;
  padding: 12px 45px;
  border-radius: 8px;
  border: none;
  background: #f1f2f5;
  font-size: 15px;
}

.search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
  color: #777;
}

.top-right {
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 18px;
}

.cart-badge {
  background: #fbc02d;
  color: #000;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  margin-left: -10px;
}

.user-text {
  font-size: 14px;
}


.main-header {
  background: #fff;
  border-bottom: 1px solid #eee;
}

.main-header nav {
  display: flex;
  justify-content: center;
  gap: 35px;
  padding: 14px 0;
}

.main-header nav a {
  text-decoration: none;
  font-weight: 600;
  color: #222;
  font-size: 14px;
}

.main-header nav a:hover {
  color: #fbc02d;
}

.top-header {
  transition: box-shadow 0.3s ease;
}

.top-header.scrolled {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

